[Unit]
Description=Server Monitor for clinet
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/Server-Monitor
ExecStart=/root/Server-Monitor/client
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

[Install]
WantedBy=multi-user.target